.firstContainer {
  background-image: url(../../img/pages/home/01.jpg);
}
.secondContainer {
  background-image: url(../../img/pages/home/03.jpg);
}
.thirdContainer {
  background-image: url(../../img/pages/home/02.gif);
}
.fourthContainer {
  background-image: url(../../img/pages/home/04.jpg);
}
.txtLimit {
  max-width: 500px;
}
